<% provide(:title, 'Cadastre-se') %>
<h1>Cadastre-se</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |u| %>
        <%= render 'shared/error_messages' %>

        <%= u.label :first_name, 'Nome' %>
        <%= u.text_field :first_name, class: 'form-control' %>

        <%= u.label :last_name, 'Sobrenome' %>
        <%= u.text_field :last_name, class: 'form-control' %>

        <%= u.label :email %>
        <%= u.email_field :email, class: 'form-control' %>

        <%= u.label :password, 'Senha' %>
        <%= u.password_field :password, class: 'form-control' %>

        <%= u.label :password_confirmation, 'Confirmação de Senha' %>
        <%= u.password_field :password_confirmation, class: 'form-control' %>

        <%= u.label :lastfm_username, 'Usuário do Last.FM' %>
        <%= u.text_field :lastfm_username, class: 'form-control' %>

        <%= u.submit 'Cadastrar-se', id: 'signup', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>